# Node.js dependencies
backend/node_modules/
backend/package-lock.json

# React dependencies
front/node_modules/
front/package-lock.json

# Python virtual environment & dependencies
sign/__pycache__/
sign/venv/
sign/.venv/
sign/*.pyc
sign/*.pyo
sign/.mypy_cache/
sign/.pytest_cache/

# Logs & Debug files
*.log
*.out
*.err
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE & OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables & secrets
.env
.env.local
backend/.env
front/.env
sign/.env
