@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

.translated-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Cairo", serif;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 90%;
    /* min-height: 100vh; */
    /* max-height: 600px; */
    overflow: hidden;
}

.placeholder-text {
    color: #888;
    font-style: italic;
}

.translated-text {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    word-wrap: break-word;
}

.but,
.translate-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Cairo", serif;
    margin: 10px;
    transition: background 0.3s ease;
    width: 100%;
    max-width: 300px;
    align-self: center;
}

.but:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.but:hover,
.translate-button:hover {
    background: #282c34;
}

.language-selector {
    margin: 15px 0;
    width: 100%;
    text-align: center;
}

.label {
    display: block;
    margin: 15px auto;
    padding: 12px;
    border-radius: 8px;
    background: #f1f1f1;
    font-size: 24px;
    font-weight: bold;
    width: auto;
}

.language-selector select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
    border: 1px solid #ccc;
}

.translated-result {
    margin-top: 20px;
    padding: 12px;
    border-radius: 8px;
    background: #f1f1f1;
    font-size: 24px;
    font-weight: bold;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .translated-container {
        width: 95%;
        min-height: auto;
        max-height: none;
        padding: 15px;
    }

    .translated-text,
    .translated-result {
        font-size: 22px;
        padding: 8px;
    }

    .but,
    .translate-button {
        font-size: 14px;
        padding: 10px;
    }
}